 #hello {
    background-color: #0033ff; 
    padding: 15px 5px 5px; 
    padding-top: 1%;
    margin-top: 0%;
    width: 100%;
  }
  
  /* NavbarBrand styling */
  .navbar-brand {
    color: #ffffff; 
    font-size: 24px;
    font-weight: bold; 
  }
  
  /* Navbar links styling */
  .navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 18px;
    text-decoration: none;
  }
  
  /* Active link styling */
  .navbar-nav .nav-link.active {
    color: #2ecc71; 
    text-decoration: underline;
  }
  
  /* Button styling */
  .navbar-btn {
    margin-left: 15px; 
  }
  
  #hello {
    display: inline-flex;
  }

  .links {
    text-align: inline;
  }

  #primary {
    margin-bottom: 75%;
    margin-left: 185%;
    text-align: center;
    overflow: auto;
  }

  #secondary {
    margin-left: 200%;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
  }

  #appLogo {
    width: 300px;
    margin-right: 5%;
  }

  .links {
    margin-top: 20%;
  }

  

  