nav {
  margin-left: 0%;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.navItems {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex; /* Use flex to arrange items horizontally */
  margin: 0%;
  background-color: rgb(255, 255, 255);
}

#Home {
  margin-left: 1%;
  margin-right: 8%;
  background-color: rgb(255, 255, 255);
}

#Programs {
  margin-top: 12.5%;
  margin-left: 130%;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#Build {
  margin-top: 12.5%;
  margin-left: 55%;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#Community {
  margin-top: 12.5%;
  margin-left: 55%;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#Login {
  margin-top: 1.9%;
  margin-left: 55%;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  margin-right: 1%;
}



#SignUp {
  margin-top: 1.9%;
  margin-left: 2.0%;
  padding: 5%;
  font-size: 120%;
  font-weight: bold;
  border-radius: 4px;
  padding-right: 6%;
  color: white;
}
.Home {
    background-color: aqua;
}

.navigationBar {
  background-color: white;
}

